services:
  # Application Odoo uniquement
  - type: web
    name: odoo-app
    env: docker
    plan: free
    region: frankfurt
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PORT
        value: 8069
      - key: DB_HOST
        value: ep-divine-lab-a45nny5y-pooler.us-east-1.aws.neon.tech
      - key: DB_PORT
        value: 5432
      - key: DB_USER
        value: neondb_owner
      - key: DB_PASSWORD
        value: npg_wQPuv6cRdg7W
      - key: DB_NAME
        value: production