services:
  # Application Odoo avec Supabase PostgreSQL
  - type: web
    name: odoo-app
    env: docker
    plan: free
    region: oregon
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DB_HOST_FORCE_IPV4
        value: True  # <-- AJOUTEZ CETTE LIGNE valSuCUEULtBgug8
      - key: PORT
        value: 8069
      - key: DB_HOST
        value: db.gqcygmyvdhasltkxzjcm.supabase.co
      - key: DB_PORT
        value: 5432
      - key: DB_USER
        value: odoo
      - key: DB_PASSWORD
        value: SuperMDP2025
      - key: DB_NAME
        value: postgres
      - key: PGSSLMODE
        value: require
      - key: PGCONNECT_TIMEOUT
        value: 10